body {
  background-color: rgb(247, 243, 183);
}
.evenColor {
  background-color: rgb(67, 100, 23);
}
.oddColor {
  background-color: rgb(166, 199, 124);
}
.square {
  width: 12%;
  height: calc(12vw);
  border: 0.5px solid black;
  font-size: 100pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 5px;
  font-weight: 50;
}
